<!DOCTYPE html>
<html oncontextmenu="return false" onselectstart="return false">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>
    <form method="post" action="/idscan">
        <h1>이름</h1>
        <input type="text" name="name" id="name">
        <h1>나이</h1>
        <input type="text" name="age" id="age">
        <h1>성별</h1>
        <input type="text" name="gender" id="gender">
        <h1>생일</h1>
        <input type="date" name="birth" id="birth">
        <input type="submit" class="input" value="확인">
    </form>
</body>
</html>