<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table border="1">
      <% for (const result of results) { %>
        <tr>
          <td>이름</td>
          <td><h1><%= result.ENAME %></h1></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
