<!DOCTYPE html>
<html oncontextmenu="return false" onselectstart="return false">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        h1{ 
            padding: 30px; 
            padding-top: 100px;
            font-family: HY동녘M;
            font-size: 42px;
            color: grey;
            text-shadow: 0px 1px #ffffff, 4px 4px 0px #dad7d7;
        }
        button{
            background-color: white;
            border: none;
            font-weight: bold;  
            font-size: 27px;
            text-decoration: none;
            color: thistle;
            padding: 20px; 
            outline: none;
        }
        a{
            font-weight: bold;  
            font-size: 27px;
            text-decoration: none;
            color: thistle;
            padding: 20px; 
        }
        input, p{
            border: none;
            font-family: 한컴 솔잎 B; 
            font-size: 27px;
            color: black;
            padding: 10px; 
        }
    </style>
</head>
<body>
<center>
    <form method="post" action="/Iogin">
        <h1>로그인 되었습니다.</h1>
        
        <p>ID : <input type="text" name="id" class="box" value="<%=ID%>"></p>
        
        <p>PW : <input type="text" name="pw" class="box" value="<%=PW%>"></p>
        <button>로그인</button>
        <a href="/logout">로그아웃</a>
        <a href="/index">회원정보</a>
    </form>
</center>
</body>
</html>