<!DOCTYPE html>
<html oncontextmenu="return false" onselectstart="return false">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script language="javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
    </script>
</head>
<body>
    
    <%= oddeven %>
</body>
</html>
