<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        alert('당신의 닉네임은?');
        document.getElementById("name").focus();
    </script>
</head>
<body>
    <form action="/game/tutorial" method="post">
        <input type="text" name="name" id="name" value="" required>
        <input type="submit">
    </form>
</body>
</html>